<!doctype html>
<html class="psg-theme" lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= projectName %></title>
        <style><%- codeStyle %><%- tmplStyle %><%- processedCSS %></style>
    </head>

    <body>
      <div class="psg-wrapper">
        <nav class="psg-menu">
          <a href="" class="psg-logo">
            <img
              title="Philosopher’s stone, logo of PostCSS"
              src="http://postcss.github.io/postcss/logo-leftp.svg">
          </a>

          <ul class="psg-ComponentList">
            <% maps.forEach(function (map) { %>
              <% if (map.link.title !== null) { %>
                <a href="#<%= map.link.id %>" class="psg-ComponentList__item">
                  <li>
                    <%= map.link.title %>
                  </li>
                </a>
              <% } %>
            <% }) %>
          </ul>

        </nav>

        <div class="psg-main">
          <header class="psg-title">
            <h1><%= projectName %></h1>
          </header>

          <div class="psg-container">
            <% maps.forEach(function (map) { %>
                <section class="psg-section">
                    <h2 id="<%= map.link.id %>" class="psg-component-title"><%= map.link.title %></h2>

                    <div class="psg-contents">
                    <% if (!showCode) { %>
                        <%- map.html %>
                    <% } %>
                    </div>
                </section>
                <hr class="psg-separator">
            <% }) %>
          </div>
        </div>

      </div>

    </body>
</html>
